@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(.home-hero-section) {
  /* outline: 1px dotted red; */
}
body {
  background-color: black;
  color: white;
  font-family: "Roboto", -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form-account input:focus,
.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid theme(colors[primary]);
  outline: none;
}

@media (max-width: theme(screens[Mmd]max)) {
  .form-account .input-container {
    width: 100% !important;
  }
}

@media (min-width: theme(screens[md])) {
  .contact-form .input-container:not(:last-child) {
    width: calc(50% - 12px) !important;
  }
  .contact-form .input-container:last-child {
    width: 100% !important;
  }
}

.blur-background {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

a.active {
  color: theme(colors[primary]);
}

footer input.subscribe:focus {
  outline: 1px solid theme(colors[primary]);
}

.drag-scroll::-webkit-scrollbar {
  display: none;
}
.drag-scroll.active {
  scale: 1.01;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* movie and tv card styles */
.card-info-block  {
  width: calc(100%);
  transition: transform 300ms linear, opacity 300ms linear;
  -webkit-transition: transform 300ms linear, opacity 300ms linear;
  -moz-transition: transform 300ms linear, opacity 300ms linear;
  -ms-transition: transform 300ms linear, opacity 300ms linear;
  -o-transition: transform 300ms linear, opacity 300ms linear;
}

.hover-card:hover .img-box img {
  scale: 1.2;
  rotate: 5deg;
}
.hover-card:hover .card-info-block {
  opacity: 1;
  transform: translateY(calc(-100%));
  -webkit-transform: translateY(calc(-100%));
  -moz-transform: translateY(calc(-100%));
  -ms-transform: translateY(calc(-100%));
  -o-transform: translateY(calc(-100%));
}

/* tooltip */
.favorite span,
.watchlist span {
  transition: opacity .3s linear .3s;
  -webkit-transition: opacity .3s linear .3s;
  -moz-transition: opacity .3s linear .3s;
  -ms-transition: opacity .3s linear .3s;
  -o-transition: opacity .3s linear .3s;
}
.favorite:hover span,
.watchlist:hover span {
  opacity: 1;
}


.genres-container::-webkit-scrollbar {
display: none;
}


/*? swiper-slide animations */
.swiper-slide-active .RightAnimate {
  animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) .2s both;
  -webkit-animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) .2s both;
}
.swiper-slide-active .RightAnimate-two {
  animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) .4s both;
  -webkit-animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) .4s both;
}
.swiper-slide-active .RightAnimate-three {
  animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) .6s both;
  -webkit-animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) .6s both;
}
.swiper-slide-active .RightAnimate-four {
  -webkit-animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) .8s both;
  animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) .8s both;
}
.swiper-slide-active .RightAnimate-five {
  -webkit-animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  animation: RightAnimate .6s cubic-bezier(0.39, 0.575, 0.565, 1) .8s both;
}


@keyframes RightAnimate {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
}
100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
}


/*  */